
<p *ngIf="!survey"><em>Loading...</em></p>

<div *ngIf="survey">
  <h1>{{survey.surveyName}}</h1>

  <h3>Please take our customer satisfaction survey</h3>

  <div *ngFor="let question of survey.surveyQuestions; index as i" class="panel panel-default">

    <div class="panel-heading">
      <h3>{{i+1}} {{ question.questionText }}</h3>
    </div>

    <div [ngSwitch]="question.questionType" class="panel-body">

      <div *ngSwitchCase="0">
        <label>
          <input type="radio" [name]="question.entityId" value="A" (change)="onSelectionChange(question.entityId, 'A')">
          <span>A {{question.answerA.answer}}</span>
        </label>

        <label>
          <input type="radio" [name]="question.entityId" value="B" (change)="onSelectionChange(question.entityId, 'B')">
          <span>B {{question.answerB.answer}}</span>
        </label>

        <label>
          <input type="radio" [name]="question.entityId" value="C" (change)="onSelectionChange(question.entityId, 'C')">
          <span>C {{question.answerC.answer}}</span>
        </label>

        <label>
          <input type="radio" [name]="question.entityId" value="D" (change)="onSelectionChange(question.entityId, 'D')">
          <span>D {{question.answerD.answer}}</span>
        </label>
      </div>

      <div *ngSwitchCase="1">
        <p>Multi Select</p>
      </div>

      <div *ngSwitchCase="2">
        <div *ngFor='let in of counter(question.scale); let i2 = index' class="btn-group">
          <label style="padding:10px;">
            <input type="radio" [name]="question.entityId" value="{i2+1}" (change)="onSelectionChange(question.entityId, i2+1)">
            <span>{{i2+1}}</span>
          </label>
        </div>
      </div>

      <div *ngSwitchCase="3">
        <textarea [(ngModel)]="question.userAnswer" style="width: 50%;"></textarea>
      </div>

    </div>

  </div>

  <button (click)="submitSurvey()">Submit Survey</button>
  <br/><br/>
</div>
